<div class="parent" *ngIf="poi" style="background-image:url({{poiDetails?.image}})">
    <div class="flight-description">{{poiDetails?.description}}</div>
    <div class="route">
        <div class="origin"><div class="code">{{poiDetails?.origin?.code}}</div><div class="description">{{poiDetails?.origin?.name}}</div></div>
        <div class="to"></div>
        <div class="destination"><div class="code">{{poiDetails?.destination?.code}}</div><div class="description">{{poiDetails?.destination?.name}}</div></div>
    </div>
    <div id="close" (click)="onClose()">X</div>
</div>  

