<a-scene
  vr-mode-ui="enabled: false"
  arjs="sourceType: webcam; videoTexture: true; debugUIEnabled: false;"
>
  <a-text
    value="A"
    scale="5 5 5"
    look-at="[gps-projected-camera]"
    gps-projected-entity-place="latitude: 51.430869; longitude: -0.785457"
  >
  </a-text>
  <a-text
    value="B"
    scale="5 5 5"
    look-at="[gps-projected-camera]"
    gps-projected-entity-place="latitude: 51.430735; longitude: -0.785752"
  >
  </a-text>
  <a-camera
    camera="far: 1000000"
    rotation-reader
    gps-projected-camera="simulateLatitude:51.430778;simulateLongitude:-0.785944;"
  >
    <a-entity app-cursor></a-entity>
  </a-camera>
  <a-entity app-poi-list></a-entity>
  <a-entity app-trail-point [model]="point" *ngFor="let point of selectedPoiDetails?.trail"></a-entity>
  <a-entity app-trail-point *ngIf="selectedPoiDetails" [model]="selectedPoi?.position"></a-entity>
</a-scene>
<app-poi-details [poi]="selectedPoi" [poiDetails]="selectedPoiDetails"></app-poi-details>